<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/menustyle.css">
    
</head>
<body>
    <nav>
        <img src="/assets/img/logoA.png" alt="">
    <div class="menu1">
        <input type="checkbox" name="" class="N">
             <div class="hambureger">
                <div></div>
            </div>
        <div class="menu">
            <div>
                <ul>
                    <li><a href="./index">Home</a> </li>
                    <li><a href="./contact">contact</a> </li>
                    <li><a href="./Blog">Blog</a> </li>
                    <li><a href="./S404">404</a> </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<header id="blogheader">
    <ul>
        <li class="blA">Blog Afrianska</li>
        <li class="lorem7">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</li>
        <li class="lorem7"> tempor incididunt ut labore et dolore magna aliqua.</li>
    </ul>
</header>

    <main id="BlogMain">
        <section id="Blogsection1">
            <div class="searCh">
                <input type="text" name="" id="search" placeholder="Search Article">
            </div>
            <h1>POPULAR</h1>
        </section>

        <section id="Blogsection2">
            <div>
                <h1>Feugiat sodales at nullam tellus.</h1>
                <p class="lorem8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi posuere nibh tempor fringilla porta pellentesque ipsum.</p>
                <span class="sp">
                <ul class="sam">
                    <li class="Samatha">Samatha Leuthex</li>
                    <li class="may">May 5, 3 min read</li>
                </ul>
                <span>
                    <img src="/assets/img/Vector.png" alt="">
                    <img id="share" src="/assets/img/Share.png" alt="">
                </span>
            </span>
            </div>

            <div class="FeugiatImg">
                <img src="/assets/img/feugiatImg.png" alt="">
            </div>
        </section>












        
        <article>
            <div>
                <img src="/assets/img/PortaImg.png" alt="">
                <h2>Porta proin tellus sed pulvinar odio eu pulvinar.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <span class="sp">
                    <ul class="sam">
                        <li class="Samatha">Samatha Leuthex</li>
                        <li class="may">May 5, 3 min read</li>
                    </ul>
                    <span>
                        <img src="/assets/img/Vector.png" alt="">
                        <img id="share" src="/assets/img/Share.png" alt="">
                    </span>
                </span>
            </div>

            <div>
                <img src="/assets/img/PortaImg.png" alt="">
                <h2>Porta proin tellus sed pulvinar odio eu pulvinar.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <span class="sp">
                    <ul class="sam">
                        <li class="Samatha">Samatha Leuthex</li>
                        <li class="may">May 5, 3 min read</li>
                    </ul>
                    <span>
                        <img src="/assets/img/Vector.png" alt="">
                        <img id="share" src="/assets/img/Share.png" alt="">
                    </span>
                </span>
            </div>

            <div>
                <img src="/assets/img/PortaImg.png" alt="">
                <h2>Porta proin tellus sed pulvinar odio eu pulvinar.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <span class="sp">
                    <ul class="sam">
                        <li class="Samatha">Samatha Leuthex</li>
                        <li class="may">May 5, 3 min read</li>
                    </ul>
                    <span>
                        <img src="/assets/img/Vector.png" alt="">
                        <img id="share" src="/assets/img/Share.png" alt="">
                    </span>
                </span>
            </div>
        </article>
    </main>













    <footer>
        <div class="footerDiv">
            <div class="footerDiv1" >
                <ul>
                    <li class="Intersted">Intersted to woek </li>
                    <li class="Intersted">with our team?</li>
                    <li class="lorem5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</li>
                </ul>
            </div>
            
                <a class="At" href="#">Let’s Talk</a>
            
        </div>

        <section id="Footerliste">
            <div class="Afrianskadiv">
                <ul>
                <li class="Afrianska">Afrianska</li>
                <li class="lorem6">Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit.

                </li>
                <li class="num">+62-812-7313-4321</li>
                <li class="email">hello.afrian@gmail.com</li>
            </ul>
        </div>

        <div class="aboutusdiv">
            <ul>
            <li class="aboutus">About US</li>
            <li >About</li>
            <li>What We Do</li>
            <li>Project</li>
            <li>How It Work With Us</li>
        </ul>
    </div>

    <div class="followusdiv">
        <ul>
        <li class="followus">Follow US</li>
        <li>Instagram</li>
        <li>Facebook</li>
        <li>LinkedIn</li>
        <li>Youtube</li>
    </ul>
</div>
           
        </section>
        <p class="end">2019 © Afrianska. All rights reserved.</p>
</footer>
</body>
</html>