<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/menustyle.css">
    
</head>
<body>
    <div class="menu-container">
        <input type="checkbox" name="" class="N">
        <div class="hambureger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <ul>
                    <li><a href="./index">Home</a> </li>
                    <li><a href="./contact">contact</a> </li>
                    <li><a href="./Blog">Blog</a> </li>
                    <li><a href="./S404">404</a> </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>