<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/menustyle.css">
    
</head>
<body>
    <nav>
        <img src="/assets/img/logoA.png" alt="">
    <div class="menu1">
        <input type="checkbox" name="" class="N">
             <div class="hambureger">
                <div></div>
            </div>
        <div class="menu">
            <div>
                <ul>
                    <li><a href="./index">Home</a> </li>
                    <li><a href="./contact">contact</a> </li>
                    <li><a href="./Blog">Blog</a> </li>
                    <li><a href="./S404">404</a> </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<header id="Contactheader">
    <ul>
        <li class="blA">Contact Us</li>
        <li class="lorem7">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</li>
        <li class="lorem7"> tempor incididunt ut labore et dolore magna aliqua.</li>
    </ul>
</header>

    <main id="ContactMain">
        <section class="info">
            <div>
                <ul class="contact1">
                    <li> <img src="/assets/img/Group1.png" alt=""></li>
                    <li class="ADR">ADRESS</li>
                    <li class="TL1">Id convallis placerat sit sed duis id amet volutpat quam a, pharetra.</li>
                    <li class="ADR">PHONE</li>
                    <li class="TL2">&nbsp;&nbsp; +62-812-7313-4321</li>
                    <li class="TL3">&nbsp; &nbsp;+62-817-000-1234</li>
                    <li class="ADR">ONLINE SERVICE</li>
                    <li class="TL4">&nbsp;&nbsp;www.afrianska.com</li>
                    <li class="TL5">&nbsp;&nbsp;hello.afrian@gmail.com</li>
                </ul>
            </div>

            <div class="contact2">
                <h1>SEND US MESSEGE</h1>
                <label for="">Full Name</label> <br>
                <input type="text" name="" id="" placeholder="Your Name"><br>
                <label for="">Email</label><br>
                <input type="email" name="" placeholder="Your Email"><br>
                <label for="">Message</label><br>
                <input type="text" name="" id="message" placeholder="Your message"><br>

                <input type="submit" value="Submit">
                
            </div>
        </section>

        <article id="contactArticle">
            <img src="/assets/img/Map.png" alt="">
        </article>
    </main>



    <footer>
        <div class="footerDiv">
            <div class="footerDiv1" >
                <ul>
                    <li class="Intersted">Intersted to woek </li>
                    <li class="Intersted">with our team?</li>
                    <li class="lorem5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</li>
                </ul>
            </div>
            
                <a class="At" href="#">Let’s Talk</a>
            
        </div>

        <section id="Footerliste">
            <div class="Afrianskadiv">
                <ul>
                <li class="Afrianska">Afrianska</li>
                <li class="lorem6">Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit.

                </li>
                <li class="num">+62-812-7313-4321</li>
                <li class="email">hello.afrian@gmail.com</li>
            </ul>
        </div>

        <div class="aboutusdiv">
            <ul>
            <li class="aboutus">About US</li>
            <li >About</li>
            <li>What We Do</li>
            <li>Project</li>
            <li>How It Work With Us</li>
        </ul>
    </div>

    <div class="followusdiv">
        <ul>
        <li class="followus">Follow US</li>
        <li>Instagram</li>
        <li>Facebook</li>
        <li>LinkedIn</li>
        <li>Youtube</li>
    </ul>
</div>
           
        </section>
        <p class="end">2019 © Afrianska. All rights reserved.</p>
</footer>
</body>
</html>