*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav img{
    padding-top: 1%;
    padding-left: 4%;
}

#HeaderIndex{
    margin-top: 2%;
    display: flex;
    height: 75vh;
    width: 100%;
   background-color: white;
   background-image: linear-gradient(white,#98C3E8
   );
}

#HeaderIndex div{
    width: 50%;
}

#HeaderIndex ul{
   padding-top: 10%;
    padding-left: 35%;
    list-style-type: none;
}

.new ,.new1{
    font-size: 65px;
    letter-spacing: 4%;
    color: #1F3F68;
}
.new1{
    position: absolute;
}

.lorem1{
    padding-top: 25%;
    padding-bottom: 15%;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.07rem;
    color:  #1F3F68;
    opacity: 0.6;
}

.See{
    color: white;
    background-color: #5A98D0;
    border-radius: 10px;
    box-shadow: 5px 10px 20px 
    rgba(53, 110, 173, 0.2);
    width: 45%;
    padding: 4%;
   
}
#homeMain{
    padding-bottom: 30%;
}

.WhatWe{
    padding-top: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 200vh;
}

.WhatWe img{
    padding-bottom: 10%;
}

.WhatWe div:not(:nth-of-type(1)){
    height: 525px;
    width: 380px;
    box-shadow: 5px 20px 50px
     rgba(16, 112, 177, 0.2);
}

.WhatWe div:first-child{
    padding-left: 35%;
    width: 90%;
}

.WhatWe div:nth-last-of-type(2){
    margin-left: 35%;
    margin-top: -70%;
}

.WhatWe div:nth-of-type(4){
    margin-top: -30%;
}

.WhatWe div > ul{
    list-style-type: none;
    padding-left: 20%;
    padding-top: 5%;
    /* text-align: center; */
}

.WhatWe > div > p{
    font-size: 36px;
    line-height: 46px;
    color: #316099;
    letter-spacing:  0.06em;
}
.gridh1 , .gridh2{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
}

.lorem2{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.07rem;
    color:  #1F3F68;
    opacity: 0.6;
   

}

.lernMore{
    color: #5A98D0;
    font-size: 14px;
    padding-top: 5%;
    letter-spacing: 0.07rem;
}
.lernMore::after{
    content: url(../img/Vector5.png) ;
    padding-left: 10%;
  
}

#homeArticle ,.OUR{
    display: flex;
}

.ourfinish ,.ourBeloved{
    font-size: 36px;
    color: #1F3F68;
    line-height: 46px;
    letter-spacing: 0.05em;
    padding-left: 17%;
}

.lorem3 ,.lorem4{
    padding-left: 5%;
   width: 40%;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.07rem;
    color:  #1F3F68;
    opacity: 0.6;
}


#Smartsection{
    height: 100vh;
    padding-top: 5%;
}
.smart1{
    background: url(../img/Mask1.png)center /95% no-repeat ;
    height: 424px;
    width: 70%;
    padding-left: 10%;
    margin-bottom: 8%;
    margin-left: 13%;
}

.Towbild{
    display: flex;
    width: 85%;

}
.smart2{
    background: url(../img/Mask2.png) center /95% no-repeat ;
    height: 417px;
    width: 35%;
    margin-left: 17%; 
}
.smart3{
    background: url(../img/Mask3.png) center /95% no-repeat ;
    height: 417px;
    width: 35%;
    margin-left: 9%;
}

#Smartsection ul{
    list-style-type: none;
    padding-top: 5%;
}

.smart1 ul{
    padding-left: 50%;
}

.smart ,.SMART{
    color: #FFFFFF;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.in ,.IN{
    opacity: 0.8;
    font-size: 16px;
    line-height: 46px;
    color: #FFFFFF;
}

.IN{
    padding-left: 26%;
}
.smart, .in{
    padding-left: 10%;
    padding-top: 3%;
}

#FooterSectio{
    height: 220vh;
    padding-top: 10%;
    background: url(../img/background2.png)center/cover no-repeat;
}

.OUR{
    display: flex;
}

.ourBeloved{
    font-size: 36px;
    color: #1F3F68;
    line-height: 46px;
    letter-spacing: 0.05em;
    padding-left: 17%;
    color: white;
}

.lorem4 {
  color: white;
  padding-left: 10%;
  width: 50%;
  padding-bottom: 10%;
}

.TableDiv{
    margin-left: 17%;
}

table {
    border-collapse: collapse;
    width: 80%;
}

td {
    padding: 5%;
    color: white;
    font-size: 17px;
    text-align: left;
    letter-spacing: 0.02em;
}

.TD{
    border-right: 1px solid #ddd;
}

.TM{
    border-bottom: 1px solid #ddd; 
}

.more{
    border-top: 1px solid #ddd;
    background-color: #447faf;
}

footer{
    margin-top: 10%;
   
    height: 130vh;
    background: url(../img/background1.png)  100% no-repeat;
    margin-right: 12%;
}

.footerDiv{
    display: flex;
    padding-top: 10%;
    /* border-bottom: 1px solid #ddd; */
    /* width: 80%; */
}
.footerDiv1{
    width: 60%;
    padding-top: 5%;
    padding-left: 7%;
    border-bottom: 1px solid #ddd;
    
}
.footerDiv  ul{
    list-style-type: none;
    padding-left: 25%;
}
.Intersted{
    font-size: 36px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.lorem5{
    color: #FFFFFF;
    letter-spacing: 0.05em;
    font-size: 16px;
    line-height: 26px;
    opacity: 0.6;
    /* width: 50%; */
    padding-top: 10%;
    width: 90%;

}
.At{
    color: #FFFFFF;
    background-color: #5A98D0;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 13%;
    padding: 1% 5% 0% 5% ;
    font-size: 16px;
    text-align: center;
    height: 5vh;
    margin-left: 5%;
}



#Footerliste{
    display: flex;
    color: #FFFFFF;
   
}

#Footerliste div{
    margin-left: 10%;
    margin-top: 10%;
    /* width: 25%; */
}

#Footerliste div ul{
    list-style-type: none;

}

.Afrianska{
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.02em;
    padding-bottom: 10%;
}
.Afrianskadiv{
    padding-left: 10%;
}

.Afrianska::before{
    content: url(../img/logo2.png);
}

.lorem6{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 26px;
    
}

.lorem6::before{
    content: "A.";
    padding-right: 5%;
}
.num::before{
    content: "T.";
    padding-right: 5%;
}

.email::before{
    content: "E.";
    padding-right: 5%;
}

.num ,.email{
    padding-top: 15%;
}

/* .aboutusdiv{
    /* padding-top: 1%; */


.aboutusdiv li{
    padding-top: 20%;
}
.aboutus, .followus{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
}

/* .followusdiv{
   margin-right: 15%;
}  */

.followusdiv li{
    padding-top: 30%;
}

.end{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    opacity: 0.4;
    padding-left: 20%;
    padding-top: 5%;
    color: #FFFFFF;
}


.header404{
    background: url(../img/Dragon.png) center/ cover no-repeat;
}





/* blog */

#blogheader ,#Contactheader{
    text-align: center;
    color: #FFFFFF;
    background: url(../img/hederback.png) center/ cover no-repeat;
    height: 40vh;
    margin-top: 5%;
}
#blogheader ul{
    list-style-type: none;
}

.blA{
    font-size: 48px;
    line-height: 74px;
    padding-top: 5%;
    padding-bottom: 1%;
}

.lorem7{
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.4);
    letter-spacing: 0.04em;
}

#BlogMain{
    width: 70%;
    border-bottom: 1px solid black;
}
#search{
    height: 6vh;
    width: 100%;
    background-color: #F4F4F4;
    border-radius: 10px;
    margin-top: 3%;
    font-size: 17px;
    padding-left: 3%;
    margin-left: 15%;
    border: none;
}
#Blogsection1 h1{
    padding: 5% 0 5% 20%;
    font-size: 20px;
    color: #356EAD;
    opacity: 0.8;
    letter-spacing: 0.04em;

}

.searCh{
    padding-left: 5%;
} 

#Blogsection2{
    display: flex;
   
    padding-left: 20%;
}
#Blogsection2 >div >h1{
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
#Blogsection2 div{
    width: 50%;
}

.lorem8{
    width: 90%;
    padding-top: 8%;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #000000;
    opacity: 0.6;
}
.sam{
    padding-top: 7%;
    list-style-type: none;
    margin-right: 15%;
}

.Samatha{
    color: #1F3F68;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
}
.may{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.4;
}
.sp{
    display: flex;
}

.sp img{
    margin-top: 30%; 
    padding-left: 47px;
}
#share{
    margin-left: -1%;
}

#BlogArticle{
    display:flex;
    padding-left: 16.8%;
    margin-top: 5%;
    margin-bottom: 7%;
}

#BlogArticle div{
    padding-left: 3%;
}

#BlogArticle h2{
    padding-bottom: 5%;
    padding-top: 4%;
    font-size: 22px;
    line-height: 38px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

#BlogMain h3{
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #356EAD;
    opacity: 0.8;
}

#AllARTICLE{
    width: 80%;
    margin-left: 14%;
}
#AllARTICLE div{
    display: flex;
    padding-top: 5%;
    width: 80%;
}


#AllARTICLE ul{
    list-style-type: none;
    padding-left: 2%;
}

.TLL{
    list-style-type: none;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.lorem9{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: rgba(0, 0, 0, 0.6);
    padding-bottom: 2%;
}
.Leuthex{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.May1{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: rgba(0, 0, 0, 0.4);
}




/* //////////// CONTACT ///////////// */
.info{
    display:flex;
    width: 80%;
    padding-left: 15%;

}
.info div{
    width: 50%;
}
.info ul{
    list-style-type: none;
}

.contact1 li{
    padding-bottom: 5%;
}

.TL1, .TL2, .TL3, .TL4, .TL5  {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
    width:60%;
}
.TL2::before ,.TL3::before{
    content:url(../img/telefon.png) ;

} 

.TL4::before { 
    content:url(../img/Vector3.png) ;
}

.TL5::before { 
    content:url(../img/message.png) ;
}


.ADR{
    font-size:20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.contact1{
    padding-top: 30%;
    padding-left: 5%;
}
.contact2{
    padding-top: 5%;
    margin-top:10%;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding-left: 5%;
}
.contact2 h1{
    padding-bottom: 15%;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.contact2 label{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
}



[type=email], [type=text]{
    width: 80%;
    height: 65px;
    font-size:16px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 5%;
    color: #1F3F68;
    background: #FFFFFF;
    margin-top: 3%;
    margin-bottom: 2%;
}

#message{
   padding-bottom: 140px;
} 

[type=submit]{
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    width: 80%;
    height: 8vh;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-top: 10%;
    margin-bottom: 15%;
}

#contactArticle{
    text-align:center;
    margin-top: 10%;
    margin-right: 5%;
}










































